{% extends "layout.html" %}

{% block hero %}

<div class="hero-text">
    <h1>say something</h1>

    <p>say something here</p>
</div>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for prop in job_listings %}
        <div class="col-md-4">
            <a href="{{ url_for('new_reservation', property_id=prop.id) }}" class="property">
                <img src="{{ prop.image_url }}" alt="Job Listing"/>
                <h2>{{ prop.description }}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
