{% extends "layout.html" %}

{% block nav_bg %}
<!-- Nav Bar -->
<nav class="navbar navbar-space"></nav>

{% endblock %}


{% block content %}

<script src="{{ url_for('static', filename='js/facebook_login.js') }}"></script>

<div class="container">
    <h1>{{ translate("Register for Gig") }}</h1>

    <form method="POST" role="form">
        {% from "_formhelpers.html" import render_errors, render_field %}
        {{ form.csrf_token }}
        {{ render_errors(form) }}
        <hr/>

        {{ render_field(form.first_name, placeholder='Ursula') }}
        {{ render_field(form.last_name, placeholder='Gilkey') }}
        {{ render_field(form.email, placeholder='ugilkey@gmail.com') }}
        {{ render_field(form.password) }}
        {{ render_field(form.country_code, id="authy-countries" ) }}
        {{ render_field(form.phone_number , type='number') }}
        {{ render_field(form.zip_code , placeholder='94118') }}

        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>

    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>

</div>

{% endblock %}
